# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env

# Testing
.pytest_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Alembic
migrations/versions/__pycache__/

# ChromaDB
chroma/

# Logs
*.log